.pagination-list {
  padding: 0;
  margin: 0;
  display: flex;
}
.pagination-item:hover {
  background-color: #11823b;
  color: #ededed;
}

.active {
  background-color: #11823b;
  color: #ededed;
  transition-duration: 0.3s;
}
.back {
  margin-right: 0.5rem;
}
.next {
  margin-left: 0.5rem;
}
