.filters-group-title {
  font-weight: 500;
  font-size: 18px;
}
.filter-item-list {
  margin: 0;
  padding: 0.5rem 0;
}
.filter-item {
  display: flex;
  flex-direction: row;
  padding-bottom: 0.5rem;
  font-size: 16px;
}
.filter-item-title {
  padding-left: 0.5rem;
}
